.passresetmain{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15vh;
}

.requestformmain{
   display: flex;
   flex-direction: column;
   border: 1px solid grey;
   padding: 20px;
   border-radius: 10px;
}
.requestformmain label{
    margin-bottom: 15px;
}
.requestformmain input{
    margin-bottom: 15px;
    padding: 8px;
    border-radius: 10px;
    border: 1px solid grey;
    width: 200px;
}
.requestformmain h2{
    background: linear-gradient(84deg, rgba(195, 34, 172, 1) 0%, rgba(45, 84, 253, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}
.otpsubbtn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 10px;
}
.otpsubbtn button{
    color: white;
    background-color: rgb(25, 164, 27);
    border: none;
    padding: 8px;
    border-radius: 10px;
}
.otpsubbtn button:hover{
    padding:9px;
}
.backtologinbtn button{
    border: none;
    background-color: white;
}
.backtologinbtn button:hover{
    color:blue
}