.resetotptop{
    display: flex;
    justify-content: center;

}
.passresetmain{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15vh;
}

.requestformmain{
   display: flex;
   flex-direction: column;
   border: 1px solid grey;
   padding: 20px;
   border-radius: 10px;
}
.requestformmain label{
    margin-bottom: 15px;
}
.requestformmain input{
    margin-bottom: 15px;
    padding: 8px;
    border-radius: 10px;
    border: 1px solid grey;
    width: 200px;
}
.requestformmain h2{
    background: linear-gradient(84deg, rgba(195, 34, 172, 1) 0%, rgba(45, 84, 253, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}
.otpsubbtn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 10px;
}
.otpsubbtn button{
    color: white;
    background-color: rgb(25, 164, 27);
    border: none;
    padding: 8px;
    border-radius: 10px;
}
.otpsubbtn button:hover{
    padding:9px;
}
.backtologinbtn button{
    border: none;
    background-color: white;
}
.backtologinbtn button:hover{
    color:blue
}
.verifyotpform{
    display: flex;
    flex-direction: column;
    border: 1px solid grey;
    border-radius: 10px;
    padding: 20px;
}
.verifyotpform h2{
    background: linear-gradient(84deg, rgba(195, 34, 172, 1) 0%, rgba(45, 84, 253, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}
.verifyotpform label{
    margin-bottom: 10px;
}
.verifyotpform input{
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 10px;
    border: 1px solid grey;
    width: 200px;
}
.verifyotpform button{
    color: white;
    background-color: rgb(25, 164, 27);
    border: none;
    padding: 8px;
    border-radius: 10px;
    width: 150px;
    margin-top: 20px;
    margin-left: 30px;
}

.warmessage{
    position: absolute;
    background-color: rgb(251, 82, 35);
    border-radius: 20px;
    display: flex;
    width: 200px;
}
.warmessage p{
    margin-top: 30px;
    color: white;
    font-weight: bold;
    padding: 20px;
}
.warnclose{
    position: absolute;
    display: flex;
    padding-bottom: 10px;
    
    
}
.warnclose button{
    margin-left: 170px;
    padding: 6px;
    width: 30px;
    border:none;
    color: white;
    background-color: rgb(251, 82, 35);
}
.resendotpbtn button{
    background-color: white;
    color: black;
}
.resendotpbtn button:hover{
    color: green;
}